{% extends 'revibe_app/base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">

    <div class="profile-header">
            <div class="initials">
                <h1 class="profile-img">{{user.username|slice:":2"|upper}}</h1>
            </div>
            <!-- <img src="{% static 'revibe_app/image/male.png' %}" alt="Male" class="profile-img"> -->
        <h3 class="username">{{ user.username }}</h3>
        <p class="email">{{ user.email }}</p>
    </div>

<div class="stats-container mt-4">
    <a href="{% url 'users_journals' %}" class="stat-box">
        <h6>Journal Entries</h6>
        <p>{{ journals|length }}</p>
        <span class="view-link">View</span>
    </a>
    <a href="{% url 'myplaylist' %}" class="stat-box">
        <h6>Custom Playlists</h6>
        <p>{{ playlists|length }}</p>
        <span class="view-link">View</span>
    </a>
</div>
   <a href="{% url 'edit_profile' %}" class="btn btn-gradient">Edit Profile</a>
</div>
{% endblock %}
